.navcolor
{
    background:#FFC5C5
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
}
/* navbar start */
#navbar{
    background :#f9f9f9;
}


#logo{
    font-size:36px;
    font-weight:600;
    color:black;
    text-shadow: 0px 1px 1px black;
    margin-bottom: 5px;
}
#logo span{
    color:red;
}
.navbar-toggler span{
    color: red;
}
.navbar-nav{
    margin-left: 20px;

}
.nav-item .nav-link{
    font-size: 16px;
    font-weight:550;
    color: black;
    letter-spacing: 1px;
    border-radius: 3px;
    transition:0.5 ease;
}
.nav-item .nav-link:hover{
    background: red;
    color: white;
}

/* navbar end */

/* home section start */

.home{
    width:100%;
    height:90vh;
    background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.2)),url("./image/plz3.webp");
    background-repeat:no-repeat;
    background-size:cover;
}
.home .content{
    text-align:center;
    padding-top:200px;
}
.home .content h5{
    color:white;
    font-size:38px;
    font-weight:500;
    text-shadow:0px 1px 1px black;
}
.home .content h1{
    color:red;
    font-size:70px;
    font-weight:600;
    text-shadow:0px 1px 1px black;
    margin-top:5px;

}
.home .content p{
    color:white;
    font-size:15px;
    font-weight:600;
    text-shadow:0px 1px 1px black;
     margin-bottom:30px;
     margin-top:5px;
}
@media (max-width:850px)
{
    .home{
        background-position:50%;
    }
}
@media (max-width:450px)
{
    .home .content h5{
        font-size:25px;
    }
    .home .content h1{
        font-size:38px;
    }
}
/* home secrtion end */
